.body {
  flex-flow: column;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  display: flex;
}

.topbar {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: #7e60bf;
  border-radius: .25rem;
  flex-flow: column;
  align-items: center;
  width: 98%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
}

.logo {
  border-radius: .25rem;
  width: 4rem;
  height: 4rem;
}

.logoimage {
  border-radius: .25rem;
  width: 100%;
  height: 100%;
}

.tabs {
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: flex;
}

.tabbar {
  background-color: #433878;
  border-radius: .25rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 3.5rem;
  display: flex;
}

.tablabel {
  color: #ffe1ff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.35rem;
}

.pagetitle {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75rem;
}

.segment {
  margin: 0.25rem;
  font-size: 1.5rem;
  color: #433878;
}

.grid-layout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: 1fr;
  grid-gap: 0.5rem;
}

.bloggrid{
  width: 98%;
}

@media screen and (max-width: 600px) {
  .grid-layout{
    grid-template-columns: 1fr;
  }
  
}

.clickableDisp {
  cursor: pointer;
  text-decoration: none;
}

