<!DOCTYPE html>

<html lang="{{ config.extra.language_code | default(value="en-US") }}">

<head>
    <meta charset="utf-8">
    <title>Research Daily: Latest AI Research Updates</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% block meta %}{% endblock meta %}
    <link href="/main.css" rel="stylesheet" type="text/css">

    <link href="/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="/webclip.png" rel="apple-touch-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body class="body">
    <div class="topbar">
      <div class="logo"><img src="/dAIly.png" loading="lazy" alt="Logo of Research Daily" class="logoimage"></div>
      <h1 class="pagetitle">Research Daily: Top AI papers of the day</h1>
      <div class="tabs">
        <div class="tabbar">
            <a href="/" class="topNav"><h2 class="tablabel">Today</h2></a>
        </div>
        <div class="tabbar">
          <a href="{{ get_url(path='@/blog/_index.md') }}" class="topNav"><h2 class="tablabel">Archive</h2></a>
        </div>
      </div>
    </div>

    <div class="newslettersignup">
      <a href="https://app.youform.com/forms/faksnsfg" class="topNav"><h2 class="newslettersignuplabel">Get these updates on email!</h2></a>
  </div>
    {% block segment %} {% endblock %}

    <!-- 100% privacy-first analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="Simple Analytics plugin" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
</html> 