{% extends "base.html" %}

{% block meta %}

<meta name="description" content="{{ page.description }}">
<meta name="Keywords" content="{{page.extra["paper_tags"]}}">

<meta property="og:title" content="{{ page.title}}" />
<meta property="og:description" content="{{ page.description}}" />
<meta property="og:image" content="{{ page.extra["cover_path"]}}" />
<meta property="og:url" content="{{page.permalink | safe}}" />
<meta property="og:type" content="website" />

<link rel="canonical" href="{{page.permalink | safe}}" />
{% endblock meta %}
{% block segment %}

<div class="blogContentDiv">
  
  <h2 class="blogContentTitle">
    <i>ArXiv Paper Title:</i><br>
    {{ page.title}}
  </h2>
  <h3 class="blogContentDate"><strong>{{ page.extra["display_date"] }}</strong></h3>

  <h3 class="blogContentTags">
    <i>Keywords:</i><br>
    {{page.extra["paper_tags"]}}</h3>
  <a href="{{page.extra["reference_link"] | safe}}" class="blogContentLink">Read the paper on ArXiv</a>
  <img src="{{ page.extra["cover_path"] }}" loading="lazy" alt="{{ page.extra["cover_alt"] }}" class="blogContentCoverImage">
  
  {{ page.content | safe }}
</div>
{% endblock segment%}