{% extends "base.html" %}

{% block meta %}

<meta name="description" content="{{ page.description }}">
<link rel="canonical" href="{{page.permalink | safe}}" />
{% endblock meta %}
{% block segment %}

<div class="blogContentDiv">
  <img src="{{ page.extra["cover_path"] }}" loading="lazy" alt="{{ page.extra["cover_alt"] }}" class="blogContentCoverImage">
  
  <h2 class="blogContentTitle">
    {{ page.title}}
  </h2>
  <h3 class="blogContentDate"><strong>{{ page.extra["display_date"] }}</strong></h3>

  <h3 class="blogContentTags">{{page.extra["paper_tags"]}}</h3>
  <a href="{{page.extra["reference_link"] | safe}}" class="blogContentLink">Read the paper on ArXiv</a>
  {{ page.content | safe }}
</div>
{% endblock segment%}