
{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Today's top AI papers">
<link rel="canonical" href="https://researchdaily.pages.dev/" />
{% endblock meta %}

{% block segment %}
<h2 class="displayTitle">
Today's top AI papers
</h2>
<div class="bloggrid">
<div class="w-layout-grid gridlayout">
<a href="{{ get_url(path='@/blog/cool-program-synthesis-framework.md') }}" class="clickDisp">

    <div class="blogdisplay"><img src="/cool-program-synthesis-framework.png" loading="lazy" alt="COOL program synthesis framework, combining Chain-of-Logic and Neural Network Feedback Control for efficient and reliable program generation." class="blogcoverimage">
        <h2 class="blogtitle">COOL: Efficient and Reliable Chain-Oriented Objective Logic with Neural Networks Feedback Control for Program Synthesis</h2>
        <h3 class="blogdate">October 21, 2024</h3>
        <h3 class="blogpapertags">Program Synthesis, Neural Networks, Feedback Control, Domain-Specific Language</h3>
        <p class="blogbriefdescp">Novel program synthesis approach; improves efficiency and reliability; addresses limitations of existing methods.</p>
    </div>
    </a>
    <a href="{{ get_url(path='@/blog/articulate-anything-automatic-modeling.md') }}" class="clickDisp">

    <div class="blogdisplay"><img src="/articulate-anything-automatic-modeling.png" loading="lazy" alt="Articulate-Anything: Automatic modeling of articulated objects from text, images, or videos." class="blogcoverimage">
        <h2 class="blogtitle">Articulate-Anything: Automatic Modeling of Articulated Objects via a Vision-Language Foundation Model</h2>
        <h3 class="blogdate">October 21, 2024</h3>
        <h3 class="blogpapertags">3D Modeling, Vision-Language Models, Articulated Objects, Digital Twins</h3>
        <p class="blogbriefdescp">Automates creation of interactive 3D objects; uses vision-language models; state-of-the-art performance.</p>
    </div>
    </a>
    <a href="{{ get_url(path='@/blog/sst-strong-self-transferable-attack.md') }}" class="clickDisp">

    <div class="blogdisplay"><img src="/sst-strong-self-transferable-attack.png" loading="lazy" alt="Comparison of resource-intensive and simple targeted attacks. Simple attack excels in efficiency and effectiveness." class="blogcoverimage">
        <h2 class="blogtitle">S4ST: A Strong, Self-transferable, faSt, and Simple Scale Transformation for Transferable Targeted Attack</h2>
        <h3 class="blogdate">October 21, 2024</h3>
        <h3 class="blogpapertags">Adversarial Attacks, Deep Neural Networks, Transferable Attacks, Image Transformations</h3>
        <p class="blogbriefdescp">Highly efficient transferable targeted attacks; addresses gradient vanishing; state-of-the-art performance.</p>
    </div>
    </a>
    <a href="{{ get_url(path='@/blog/interpreting-llm-features-with-sae.md') }}" class="clickDisp">

    <div class="blogdisplay"><img src="/interpreting-llm-features-with-sae.png" loading="lazy" alt="{'image': 'Figure 1', 'alt': 'SAE latent explanations visualized in a random sentence. Detection and fuzzing scores are shown.'}" class="blogcoverimage">
        <h2 class="blogtitle">Automatically Interpreting Millions of Features in Large Language Models</h2>
        <h3 class="blogdate">October 21, 2024</h3>
        <h3 class="blogpapertags">Large Language Models, Interpretability, Sparse Autoencoders, Natural Language Explanations</h3>
        <p class="blogbriefdescp">Automated pipeline for interpreting LLM features; uses sparse autoencoders and LLMs; novel explanation scoring techniques.</p>
    </div>
    </a>
    <a href="{{ get_url(path='@/blog/boosting-llm-translation-skills.md') }}" class="clickDisp">

    <div class="blogdisplay"><img src="/boosting-llm-translation-skills.png" loading="lazy" alt="Graph showing translation performance and general ability preservation using RaDis" class="blogcoverimage">
        <h2 class="blogtitle">Boosting LLM Translation Skills without General Ability Loss via Rationale Distillation</h2>
        <h3 class="blogdate">October 21, 2024</h3>
        <h3 class="blogpapertags">Large Language Models, Machine Translation, Rationale Distillation, Catastrophic Forgetting</h3>
        <p class="blogbriefdescp">Novel approach to improve translation without losing general abilities; uses rationales; enhances translation performance.</p>
    </div>
    </a>
    
</div>
</div>
{% endblock segment %}
